docs/build/*
.CondaPkg/*

.vscode

test/data/testrun/*
test/data/tree.jld2
test/data/tree.jls
test/data/*.jls
data/test_sequences/*.jls

deps/build.log
models/*
!models/*.stan
data/stan/*
!data/stan/*.stan
data/netMHC-4.0/*

# LaTeX

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.blg
*.bib.sav
*.bib.bak
